/*Estilos de redes sociales*/
.redes {
    width: 45px; 
    height: 45px; 
    margin: 10px; 
    display: inline-block; 
    border-radius: 40%; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}
/*Estilos de redes sociales*/

/* Estilos para el footer */

footer {
    background-image: linear-gradient(90deg, #e7c4e7, #f7f7f7);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para el footer */